
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-direction: row;      /* Place items in a row */
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
    flex-wrap: wrap;          /* If more items are added, they move to next row */
}

.item {
    width: 100px;
    height: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    background: green;
}

.item:nth-child(2) {
    background: red;
}

.item:nth-child(3) {
    background: blue;
}
